* {
    font-family: 'Open Sans', arial;
    box-sizing: border-box;
}

/*
    arial jakby czcionka google nie zadziała
     */


body {
    margin: 0;
    font-family: Arial;
    font-size: 2vh;
    background-color: white;
}


.wrapper {
    margin: 0 auto;

}

/*
    to jest zapis skrocony gora i dol 0 prawe lewe auto
     
    margin: 0 auto 0 auto
    zegar czyli 12 3 6 9 
     */





.my-container {
    position: relative;
    overflow: hidden;
    height: 80vh;
    display: flex;
}

.my-container nav {
    z-index: 1;
    position: relative;
    display: flex;
    justify-self: flex-start;
    align-content: center;
    justify-content: space-around;
    height: 5vh;
    width: 30vw;
}

nav a {
    display: flex;
    align-items: center;
    /*align-content =/= align-items: */
    justify-content: center;
    text-decoration: none;
    font-size: 4vh;
    transition: all 1s ease;
    color: white;

}



.logo {
    left: 50vw;
    z-index: 1;
    position: relative;
    display: flex;
    height: 20vh;
    width: 20vh;
}


.bg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    width: 100%;

}


.my-container h2 {
    z-index: 1;
    position: relative;
    color: white;
    align-self: flex-end;
    font-size: 2.5vh;
    width: 50vw;
    line-height: 4vh;
    text-align: justify
}
















a.menu:hover {

    cursor: pointer;
    color: #3462bf;

}


article {
    margin: 0 auto;
    max-width: 90vw;
    margin-top: 30px;
    margin-bottom: 20px;



}


article h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    margin: 10vh 0 10vh 0;
    height: 20vh;
    width: auto;

    background: rgb(151, 157, 166) linear-gradient(45deg, rgb(162, 163, 165) 0%,
            rgb(111, 113, 116) 100%) repeat scroll 0% 0%;
    border-radius: 4px;
}


div.left {
    height: 40vh;
    font-size: 2.5vh;
    width: 90vw;

    text-align: justify;
    font-weight: 600;
    display: flex;

}


img.left {
    padding: 1vh;
    width: auto;
    border-radius: 10%;
    height: 40vh;


}


p.desc {
    background: rgb(151, 157, 166) linear-gradient(45deg, rgb(162, 163, 165) 0%,
            rgb(111, 113, 116) 100%) repeat scroll 0% 0%;


    color:
        rgb(255, 255, 255);

    box-shadow:
        rgba(162, 163, 165, 0.5) 0px 12px 10px -8px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;

    padding: 20px 70px;
}



img.right {

    padding: 1vh;
    width: auto;
    border-radius: 10%;

    height: 40vh;


}





div.right {
    height: 40vh;
    font-size: 2.5vh;
    width: 90vw;

    text-align: justify;
    font-weight: 600;
    display: flex;
}




.contact {

    margin: 10vh auto 10vh auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 9vh;
    font-size: 3vh;
    font-weight: 600;
    background: rgb(151, 157, 166) linear-gradient(45deg, rgb(162, 163, 165) 0%,
            rgb(111, 113, 116) 100%) repeat scroll 0% 0%;
    box-shadow:
        rgba(162, 163, 165, 0.5) 0px 12px 10px -8px;
    border-radius: 4px;
}


footer {
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    font-size: 3vh;
    font-weight: 600;

    background: rgb(162, 163, 165) linear-gradient(45deg, rgb(170, 170, 170) 0%,
            rgb(160, 160, 160) 100%) repeat scroll 0% 0%;
}


h3 {
    margin: 10vh auto 10vh auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 35vh;
    font-size: 3vh;
    font-weight: 600;
    background: rgb(151, 157, 166) linear-gradient(45deg, rgb(162, 163, 165) 0%,
            rgb(111, 113, 116) 100%) repeat scroll 0% 0%;
    box-shadow:
        rgba(162, 163, 165, 0.5) 0px 12px 10px -8px;
    border-radius: 4px;
    line-height: 5vh;
}


/*
    line-height: 40px bo footer też ma wysokosć 40 px więc w ten sposób centrujemy w pionie 
     */

/*
   media queres zawsze na samym końcu 
     */

@media (max-width: 900px) {
    article {
        background-color: blue;
    }



}

@media (max-width: 800px) {
    article {
        background-color: red;
    }




}





/*
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
*/